<div class="box">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="{{ data.images }}" alt="" />
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Title : </strong>{{ data.title }}</li>
          <li><strong>Category : </strong>{{ data.category.name }}</li>
          <li><strong>Description : </strong>{{ data.description }}</li>
          <li><strong>Price : </strong>{{ data.price }}</li>
        </ul>
        <button class="btn btn-dark">Add To Cart</button>
      </div>
    </div>
  </div>
  <div class="text-center">
  </div>
</div>
